@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:wght@200&display=swap');
*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;

}

.card-info h1{
    font-size: 30px;
    font-style: italic;
}

.card-info p{
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}

.card{
    background-color: black;
    color: white;
    width: 45rem;
    padding: 2rem 3rem;
    margin: 2.5rem;
    border-radius: 100px;
    box-sizing: border-box;
    display: inline-block;
}

.card button{
    border: 1px solid white;
    background-color: black ;
    color: white;
    border-radius: 100vw;
    padding: 0.5rem 1rem;
    transition: 200ms;
    font-weight: 500;
}

.card-image-container{
    width: 100%;
}
.card-image-container img{
    width: 40rem;
}


.card button:hover{
    border: 1px solid rgb(46, 45, 52);
    background-color: crimson;
    transform: scale(1.1);
}